<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trentgardner.cordova.galaxygear"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK" />
    <uses-permission android:name="com.samsung.wmanager.APP" />
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" /> 
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" /> 
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Integrated"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".service.GearProviderService" 
        			android:process=":remote">
        	<intent-filter >
				<action android:name="net.trentgardner.cordova.galaxygear.service.GearProviderService"/>
			</intent-filter>
        </service>

        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver" >
            <intent-filter>
                <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL" />
            </intent-filter>
        </receiver>
        
        <meta-data 
            android:name="GearAppType" 
            android:value="wgt"/>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml" />
    </application>

</manifest>
