<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	id="net.trentgardner.cordova.galaxygear"
	version="0.0.1">

	<name>Galaxy Gear Connector</name>

    <license>Apache 2.0</license>
	
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
	<platform name="android">
	
		<js-module src="galaxygear.js" name="GalaxyGear">
			<clobbers target="GalaxyGear" />
		</js-module>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="galaxygear" >
				<param name="android-package" value="net.trentgardner.cordova.galaxygear.GalaxyGearPlugin"/>
			</feature>
		</config-file>
		
		<source-file src="src/android/GalaxyGearPlugin.java" target-dir="src/net/trentgardner/cordova/galaxygear" />
        <source-file src="aidl/android/GearMessageApi.aidl" target-dir="src/net/trentgardner/cordova/galaxygear" />
        <source-file src="aidl/android/GearMessageListener.aidl" target-dir="src/net/trentgardner/cordova/galaxygear" />
	</platform>
</plugin>
